<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

	<head>
		<title>Exploitation des failles de sécurité JWT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/main.css" />
	</head>

	<body>

		<!-- Header -->
		<header id="header">
			<h1><strong>Failles JWT · Niveau {{ level }}</strong> &mdash; Intrusion détectée</h1>
			<nav id="nav">
				<ul>
					<li><a href="index.html">Accueil</a></li>
					<li><a href="login1.html">Niveau 1</a></li>
					<li><a href="login2.html">Niveau 2</a></li>
					<li><a href="login3.html">Niveau 3</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="container">
				<header>
					<h2 class="error">Tentative d'intrustion détectée !</h2>
				</header>
				<p class="error">
					Votre tentative n'est passée inaperçue : notre site est mieux
					protégé que ce que vous pensez. Nous n'avons laissé aucune faille,
					de cela nous sommes... Certains ?
				</p>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<p>Ce site a été créé à l'aide du template HTML / CSS <a href="https://templated.co/spatial">SPATIAL</a>, par Templated</p>
				<ul class="copyright">
					<li>Mars 2021</li>
					<li>H4232</li>
					<li>Berthomet Guillaume, Forler Corentin, Kermani Benjamin, Meyer Yohan, Trouin Nicolas, Versmée Erwan</li>
				</ul>
			</div>
		</footer>
	</body>

</html>
