<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

	<head>
		<title>Exploitation des failles de sécurité JWT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="main.css" />
	</head>

	<body>

		<!-- Header -->
		<header id="header">
			<h1><strong>Failles JWT · Niveau {{ level }}</strong></h1>
			<nav id="nav">
				<ul>
					<li><a href="index.html">Accueil</a></li>
					<li><a href="login1.html">Niveau 1</a></li>
					<li><a href="login2.html">Niveau 2</a></li>
					<li><a href="login3.html">Niveau 3</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="container">

				<header>
					<h2>Niveau {{ level }}</h1>
				</header>

				<h3>Connexion</h3>
				<p>Entrez vos identifiants ci-dessous.</p>

				<form action="/api/login{{level}}" method="post">
					<label for="username">Nom d'utilisateur* : </label>
					<input required pattern="^(?!admin$).*$" title="Le nom d'utilisateur doit être différent de “admin”" type="text" name="username" id="username" />
					<br />
					<label for="password">Mot de passe : </label>
					<input required type="password" name="password" id="password" />
					<br />
					<input type="submit" value="Se connecter" />
				</form>

				<p>* Note: Vous ne pouvez pas vous connecter en tant qu'administrateur (<code>admin</code>)</p>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<p>Ce site a été créé à l'aide du template HTML / CSS <a href="https://templated.co/spatial">SPATIAL</a>, par Templated</p>
				<ul class="copyright">
					<li>Mars 2021</li>
					<li>H4232</li>
					<li>Berthomet Guillaume, Forler Corentin, Kermani Benjamin, Meyer Yohan, Trouin Nicolas, Versmée Erwan</li>
				</ul>
			</div>
		</footer>
	</body>

</html>
