<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

	<head>
		<title>Exploitation des failles de sécurité JWT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/main.css" />
	</head>

	<body>

		<!-- Header -->
		<header id="header">
			<h1><strong>Failles JWT · Niveau {{ level }}</strong> &mdash; Administration</h1>
			<nav id="nav">
				<ul>
					<li><a href="index.html">Accueil</a></li>
					<li><a href="login1.html">Niveau 1</a></li>
					<li><a href="login2.html">Niveau 2</a></li>
					<li><a href="login3.html">Niveau 3</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="container">
				<header>
					<h2>Félicitations, hacker !</h2>
				</header>
				<p>
					Vous voici connecté en tant qu'administrateur du site ! Cela
					signifie donc que vous avez réussi à utiliser une faille dans
					les JSON Web Tokens. Malheureusement, nous sommes au regret de
					vous annoncer que sur ce site en particulier, cela ne signifie
					rien en particulier : c'était un simple exercice pour vous
					présenter une possible attaque. <br /><br />
					Cerpendant, si vous utilisez un jour les JWT pour un service web,
					pensez à vérifier que toutes les sécurités nécessaires sont prises
					pour vous éviter une attaque utilisant cette méthode !
				</p>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<p>Ce site a été créé à l'aide du template HTML / CSS <a href="https://templated.co/spatial">SPATIAL</a>, par Templated</p>
				<ul class="copyright">
					<li>Mars 2021</li>
					<li>H4232</li>
					<li>Berthomet Guillaume, Forler Corentin, Kermani Benjamin, Meyer Yohan, Trouin Nicolas, Versmée Erwan</li>
				</ul>
			</div>
		</footer>

		<div class="fireworks">
			<div class="firework-1"></div>
			<div class="firework-2"></div>
			<div class="firework-3"></div>
			<div class="firework-4"></div>
			<div class="firework-5"></div>
			<div class="firework-6"></div>
			<div class="firework-7"></div>
			<div class="firework-8"></div>
			<div class="firework-9"></div>
			<div class="firework-10"></div>
			<div class="firework-11"></div>
			<div class="firework-12"></div>
			<div class="firework-13"></div>
			<div class="firework-14"></div>
			<div class="firework-15"></div>
		</div>

		<style>
			/* inspired by https://codepen.io/vii120/pen/KKapaaY */

			.fireworks {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 15;
				pointer-events: none;

				font-size: 56px;
				animation: fireworks 4s 2s normal forwards ease-in-out;
				animation-iteration-count: 1;
			}

			@keyframes fireworks {
				100% {
					opacity: 0;
				}
			}

			[class^=firework-] {
				position: absolute;
				width: 0.1em;
				height: 0.1em;
				border-radius: 50%;
			}

			.firework-1 {
				animation: firework-md 3.0s both infinite 0.9s;
				top: 30%;
				left: 90%;
				color: #f70;
			}

			.firework-2 {
				animation: firework-lg 3.0s both infinite 0.8s;
				top: 55%;
				left: 65%;
				color: #0b6;
			}

			.firework-3 {
				animation: firework-sm 3.0s both infinite 0.4s;
				top: 80%;
				left: 40%;
				color: #83d;
			}

			.firework-4 {
				animation: firework-lg 3.1s both infinite 0.2s;
				top: 75%;
				left: 50%;
				color: #37d;
			}

			.firework-5 {
				animation: firework-md 3.1s both infinite 0.6s;
				top: 55%;
				left: 85%;
				color: #e49;
			}

			.firework-6 {
				animation: firework-md 3.1s both infinite 0.3s;
				top: 40%;
				left: 40%;
				color: #f70;
			}

			.firework-7 {
				animation: firework-lg 3.2s both infinite 1.4s;
				top: 40%;
				left: 70%;
				color: #0b6;
			}

			.firework-8 {
				animation: firework-lg 3.2s both infinite 0.1s;
				top: 25%;
				left: 15%;
				color: #83d;
			}

			.firework-9 {
				animation: firework-sm 3.2s both infinite 0.7s;
				top: 50%;
				left: 65%;
				color: #37d;
			}

			.firework-10 {
				animation: firework-lg 3.3s both infinite 0.9s;
				top: 85%;
				left: 40%;
				color: #e49;
			}

			.firework-11 {
				animation: firework-md 3.3s both infinite 0.8s;
				top: 20%;
				left: 60%;
				color: #f70;
			}

			.firework-12 {
				animation: firework-md 3.4s both infinite 0.6s;
				top: 75%;
				left: 65%;
				color: #0b6;
			}

			.firework-13 {
				animation: firework-lg 3.4s both infinite 1.5s;
				top: 25%;
				left: 40%;
				color: #83d;
			}

			.firework-14 {
				animation: firework-lg 3.5s both infinite 0.7s;
				top: 65%;
				left: 70%;
				color: #37d;
			}

			.firework-15 {
				animation: firework-sm 3.5s both infinite 0.5s;
				top: 80%;
				left: 15%;
				color: #e49;
			}

			@keyframes firework-sm {

				0%,
				100% {
					opacity: 0;
				}

				10%,
				70% {
					opacity: 1;
				}

				100% {
					box-shadow: -0.5em 0em 0 currentColor, 0.5em 0em 0 currentColor, 0em -0.5em 0 currentColor, 0em 0.5em 0 currentColor, 0.35em -0.35em 0 currentColor, 0.35em 0.35em 0 currentColor, -0.35em -0.35em 0 currentColor, -0.35em 0.35em 0 currentColor;
				}
			}

			@keyframes firework-md {

				0%,
				100% {
					opacity: 0;
				}

				10%,
				70% {
					opacity: 1;
				}

				100% {
					box-shadow: -0.7em 0em 0 currentColor, 0.7em 0em 0 currentColor, 0em -0.7em 0 currentColor, 0em 0.7em 0 currentColor, 0.49em -0.49em 0 currentColor, 0.49em 0.49em 0 currentColor, -0.49em -0.49em 0 currentColor, -0.49em 0.49em 0 currentColor;
				}
			}

			@keyframes firework-lg {

				0%,
				100% {
					opacity: 0;
				}

				10%,
				70% {
					opacity: 1;
				}

				100% {
					box-shadow: -0.9em 0em 0 currentColor, 0.9em 0em 0 currentColor, 0em -0.9em 0 currentColor, 0em 0.9em 0 currentColor, 0.63em -0.63em 0 currentColor, 0.63em 0.63em 0 currentColor, -0.63em -0.63em 0 currentColor, -0.63em 0.63em 0 currentColor;
				}
			}

		</style>
	</body>

</html>
